@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* 
seletor {
  propriedade: valor;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:  rgb(242,235,212); 
  background: radial-gradient(circle, rgba(242,235,212,1) 0%, rgba(88,86,86,1) 100%);
  
}

header {
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
}

a {
  color: #111827;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color:#F2B705;
  transition: .3s ease-in-out;
}

main {
  max-width: 1200px;
  margin: 0 1rem;
}

.profile__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profile__avatar {
  width: 100%;
  max-width: 24rem;
  border-radius: 4px;
  box-shadow: 4px 8px 12px #6b7280;
}

.lugar{
  margin-top: 20px;
}

.git{
  margin-top: 20px;
}
.sobre h2{
  text-align: center;
}

.sobre{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.sobre p{
  max-width: 50%;
  margin-left: 25%;
}

.Habilidades h2{
  text-align: center;
  margin-top: 20px;
}

.Habilidades img{
  width: 60px;
  height: 60px;
}

.icone{
  margin: 20px 0 20px 41%;
}

.Trabalho h2{
  text-align: center;
  margin-top: 20px;
}

.Trabalho p{
  text-align: center;
  margin-top: 25px;
}

.contato h2, .Trabalho h2, .sobre h2, .Habilidades h2{
  margin-left: 44%;
  padding: 7px 22px;
  border-radius: 25px;
  background-color: #C07F00;
  max-width: fit-content;
  justify-content: center;
  margin-top: 20px;
}

.contato p{
  max-width: 50%;
  margin-left: 25%;
}

.email{
   text-align: center;
   margin-top: 40px;
}

.redes-sociais{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

footer{
  width: 100%;
  background-color: #6b7280;
  text-align: center;
  padding: 20px;
}

